.content {
  a {
    color: $brand-color !important;
    text-decoration: none !important;


  }
}

.content a:not(.button) {
  border-bottom: none;
}

// fix for aligning first post at same hight as the sidebar on front page
.alignment-fix {
  padding-top: 0px;
}

.box {
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.08);
  border: none;

  .title {
    padding-top: 15px;
  }
}

.section.nav-fix {
  padding-top: 50px;
}


pre, code {
  border-radius: 3px;
}
