.content {
  a {
    color: $brand-color !important;
    text-decoration: none !important;


  }
}

.content a:not(.button) {
  border-bottom: none;
}

// fix for aligning first post at same hight as the sidebar on front page
.alignment-fix {
  padding-top: 0px;
}

.box {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}

.section.nav-fix {
  padding-top: 50px;
}
