// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');


.brand-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.button {
  font-weight: 600;
}

code {
  font-size: 1.05em;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1.3em;
  line-height: 2.3rem;
}
