// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1.2em;
  line-height: 2.3rem;
}
