// Libs
@import "1-libs/module";

// Utilities
@import "2-utils/module";

// Bootstrap imports needed for bootstrap markdown
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_buttons";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_button-groups";

// highlightjs theme
@import "node_modules/highlight.js/styles/atom-one-light";


// Bootstrap dependant lib-file Markdown library
@import "1-libs/bootstrap-markdown";

// Base
@import "3-base/module";

// Components
@import "4-components/module";

// Pages
@import "5-pages/module";
